a:hover {
	text-decoration: none;
}

.nav-container {
	width: 100%;
	background-color: rgb(51, 51, 51);
}

.nav-container .navbar a {
	color: rgb(176, 176, 176);
	font-size: 12px;
}

.nav-container .navbar a:hover {
	color: #fff;
}

.nav-container .dropdown a.dropdown-item:hover {
	color: #999;
}
.header-container a {
	color: #333;
	font-size: 1.05rem;
}

.header-container a:hover {
	color: rgb(255, 103, 82);
}

.card-cover {
	flex-shrink: 0;
}

.card-body div:first-child a {
	font-size: 18px;
	color: rgb(255, 103, 82);
}

.card-body div:nth-child(2) a {
	font-size: 12px;
	color: #000;
}

.card-cover {
	position: relative;
}

.card-cover .hidden {
	display: flex;
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	justify-content: space-between;
	background-color: #f00;
	transition: height .3s;
}

.card-cover:hover .hidden {
	height: 1.875rem;
}

.card-cover .hidden a {
	display: block;
	width: 50%;
	height: 1.875rem;
	text-align: center;
	line-height: 1.875rem;
	color: rgba(255, 255, 255, .6);
}

.card-cover .hidden a:hover {
	color: rgb(255, 255, 255);
}
